<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container main-container">
      <div class="row main-heading">
        <div class="col-xs-8 my-title">
          <h1>Lauriane</h1>
          <h2>Kayungu-N</h2>
          <p>Aspiring entrepreneur - Web developer</p>
        </div>
        <div class="col-xs-4">
          <img src="https://www.gravatar.com/avatar/9abae84805c1e605f9ba30febbe32891?s=300" alt="profile picture" class="profile-pict">
        </div>
      </div>
      <div class="row">
        <hr>
        <div class="col-sm-4">
          <div class="who-i-am">
            Who am i
          </div>
        </div>
        <div class="col-sm-8">
          <p>
            Aspiring entrepreneur looking to start my own business making software you love to use. With over 5 years of software development experience, I have a strong beleive that I can help making your day to day life more fun. Get in touch
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 ">
          <h3>Connect with me</h3>
          <p><a href="https://www.linkedin.com/in/laurianek">linkedin</a></p>
          <p><a href="https://twitter.com/kida_1818">twitter</a></p>
          <p>Schedule a 1-1 meeting with me <a href="//calendly.com/laurianekayungu">here</a></p>
        </div>
      </div>
    </div>
    <footer>
      &copy;&nbsp;by Lauriane Kayungu-N, Crystal High Tech Ltd.
    </footer>
</body>
</html>
